 .u-section-1 {
  background-image: url("images/fggggh.jpg");
  background-position: 50% 50%;
  min-height: 566px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: -4px 0 -4px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 37px;
}

.u-section-1 .u-image-1 {
  height: 131px;
  margin: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 24px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 24px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 230px;
  height: 70px;
  margin: 25px auto 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-image-1 {
    height: 108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 83px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 738px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    height: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 502px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    height: 39px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
  min-height: 842px;
}

.u-section-2 .u-image-1 {
  height: 746px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 846px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 104px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 189px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-3 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 1062px;
  margin: 80px auto 0 170px;
}

.u-section-3 .u-gallery-1 {
  height: 362px;
  margin-top: -945px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(5, auto);
  grid-gap: 44px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 0% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-2 {
  height: 362px;
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: repeat(1, auto);
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-3 .u-gallery-1 {
    height: 298px;
  }

  .u-section-3 .u-gallery-2 {
    height: 298px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-gap: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2069px;
  }

  .u-section-3 .u-gallery-1 {
    height: 761px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 761px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3115px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1284px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 1284px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5937px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 3881px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 2695px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}